.gallery-container {
  height: 30vh;
  width: 100%;
  background-image: url("../../images/banner.jpeg");
}

.gallery-container::before {
  position: absolute;
  height: 30vh;
  width: 100%;
  background: black;
  opacity: 0.6;
  content: " ";
}

.gallery {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.2rem;
  position: relative;
  border: 5px solid white;
  color: var(--font-color-2);
  font-weight: 600;
}

.gallery-container a {
  color: white;
}
.gallery-container h1 {
  font-family: var(--cursive-font);
  font-size: 3rem;
  font-weight: 700;
}
.gallery-container a.prev {
  color: rgb(255, 136, 136);
}
